<!-- Add Host Modal -->
<div id="addHostModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>${window.t('Add Proxy Host')}</h2>
      <button class="modal-close-btn">&times;</button>
    </div>
    <div class="modal-body">
      <form id="addHostForm"></form>
    </div>
  </div>
</div>

<!-- Edit Host Modal -->
<div id="editHostModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>${window.t('Edit Proxy Host')}</h2>
      <button class="modal-close-btn">&times;</button>
    </div>
    <div class="modal-body">
      <form id="editHostForm"></form>
    </div>
  </div>
</div> 